body {
  font-family:'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-color: #1D2D44;
  /* background-image: url("../pictures/dark blue.jpg");
  background-size: cover; */

}

.logo{
  background-color: #1D2D44;
  box-shadow: none;
  /* width:230px; */
  padding: 0;
  text-align: left;
  margin-left: 20px;
  margin-top: 27px;

}
.logo h1 {
  margin: 0;
  color: white;
  font-size: 24px;
}

header {
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  color: #ced4da;
  margin-top: 10px;
}

main {
  padding: 20px;
}

div {
  text-align: center;
  margin-bottom: 30px;
  width: 500px;
  margin-left: 350px;
  background-color: #F0EBD8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

input{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 300px;
  height: 30px;
  border: 0.5px solid black;
  font-family:'Times New Roman', Times, serif;

}
#pcategory{
  width: 200px;
  text-align: center;
  height: 20px;
}
#pdescription{
  width: 370px;
  border: 0.5px solid black;
  font-family:'Times New Roman', Times, serif;
  border-radius: 5px;
  height: 100px;
}
#memberInputs{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  /* width: 300px;
  height: 30px; */
  /* display: block; */
  font-family:'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
  /* display: none; */
  color: red;
  box-shadow: none;
  margin-top: 10px;
}
/* #resourceInputs{
  display: none;
} */

  h2 {
  margin-top: 0;
  padding-top: 15px;
  font-size: 20px;
  color: #343a40;
}

/* ul {
  list-style-type: none;
  padding: 0;
} */

/* li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: #f1f3f5;
  border-radius: 5px;
  transition: background-color 0.3s ease;
} */

/* li:hover {
  background-color: #dee2e6;
} */

.completed {
  text-decoration: line-through;
  background-color: #ced4da !important;
}

/* textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  resize: none;
} */

button {
  padding: 10px 20px;
  background-color: #3f6a99;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 5px;

}

button:hover {
  background-color: #0056b3;
}

.task-controls {
  display: flex;
  align-items: center;
}

#taskInput {
  flex: 1;
  margin-right: 10px;
  /* width: 100%; */

}

#role {
  margin-top: 30px;
}
#name-exist {
  display: none;
  color: red;
  margin: 0;
  padding: 0;
  box-shadow: none;
  margin-top: 10px;
}

#email-exist {
  color: red;
   margin-left: 0px; 
  padding: 0px;
  box-shadow: none;
  margin-top: 10px;
  display: none;
}

#error-cost{
  color: red; 
  margin:0;
  padding: 0;
  box-shadow: none;
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}

#error-budget{
  color: red; 
  margin:0;
  padding: 0;
  box-shadow: none;
  margin-top: 20px;
  margin-bottom: 10px;
  display: none;
}

#suggestions-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 200px;
  z-index: 1000;
}

#suggestions-dropdown div {
  padding: 8px;
  cursor: pointer;
  color: red;
}

/* #suggestions-dropdown {
  display: none; 
  position: absolute;
  background-color: black;
  border: 1px solid #ccc; 
  max-height: 200px;
  overflow-y: auto;
  width: 200px;
  z-index: 1000;
  padding: 0;
  margin: 0;
}

#suggestions-dropdown div {
  padding: 8px;
  cursor: pointer;
  color: red;
  margin: 0;
  box-shadow: none;
  display: block;
} */

/* #suggestions-dropdown::-webkit-scrollbar {
  width: 8px;
}

#suggestions-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

#suggestions-dropdown::-webkit-scrollbar-thumb {
  background: #888; 
}

#suggestions-dropdown::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */

#shadow-host-companion{
  display: none;
}
#loom-companion-mv3{
  display: none;
}